<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Homecare</title>
    <style>        
        /* The Modal (background) */
        .modall {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
          -webkit-animation-name: fadeIn; /* Fade in the background */
          -webkit-animation-duration: 0.4s;
          animation-name: fadeIn;
          animation-duration: 0.4s
        }
        
        /* Modal Content */
        .modall-content {
          position: fixed;
          bottom: 0;
          background-color: #fefefe;
          width: 100%;
          -webkit-animation-name: slideIn;
          -webkit-animation-duration: 0.4s;
          animation-name: slideIn;
          animation-duration: 0.4s
        }
        
        /* The Close Button */
        .closee {
          color: white;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }
        
        .closee:hover,
        .closee:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
        
        .modall-header {
          padding: 2px 16px;
          background-color: #5cb85c;
          color: white;
        }
        
        .modall-body {padding: 2px 16px;}
        
        
        /* Add Animation */
        @-webkit-keyframes slideIn {
          from {bottom: -300px; opacity: 0} 
          to {bottom: 0; opacity: 1}
        }
        
        @keyframes slideIn {
          from {bottom: -300px; opacity: 0}
          to {bottom: 0; opacity: 1}
        }
        
        @-webkit-keyframes fadeIn {
          from {opacity: 0} 
          to {opacity: 1}
        }
        
        @keyframes fadeIn {
          from {opacity: 0} 
          to {opacity: 1}
        }
    </style>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
  
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/addcategories">
                <div class="sidebar-brand-icon rotate-n-15">
                    
                </div>
                <div class="sidebar-brand-text mx-3">Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/addcategories">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            

            <!-- Divider -->
            <hr class="sidebar-divider">


            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/sales">
                    <i class="fa-solid fa-check"></i>
                    <span>Total Sales</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/orders">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Orders</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addcategories">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Add Categories</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/deletecategories">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Delete Categories</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ucategories">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Update Categories</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addproducts">
                    <i class="fa-brands fa-product-hunt"></i>
                    <span>Add Products</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/deleteproducts">
                    <i class="fa-brands fa-product-hunt"></i>
                    <span>Delete Products</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/uproducts">
                    <i class="fa-brands fa-product-hunt"></i>
                    <span>Update Products</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/privilage">
                    <i class="fa-brands fa-product-hunt"></i>
                    <span>Privilage</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/invent">
                    <i class="fa-brands fa-product-hunt"></i>
                    <span>Inventory Form</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">
                    <i class="fa-brands fa-product-hunt"></i>
                    <span>Stocks</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">
                    <i class="fa-brands fa-product-hunt"></i>
                    <span>Users</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

            

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <!-- <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li> 
                        

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="/login" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    
                  
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Sales</h1>
                    <div style="display: flex; justify-content: space-between;">
                        <div style="border-radius: 10px;background-color: rgba(52, 163, 163, 0.604);padding: 15px;width: 300px;box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,rgba(14, 30, 37, 0.32) 0px 2px 16px 0px">
                            <h1 style="color: black;"><%=treferal%></h1>
                            
                            <h3 style="color: black;">Total Referrals</h3>
                            
                          
                        </div>
                        <div style="border-radius: 10px;background-color: rgb(117, 238, 96);padding: 15px;width: 300px;box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,rgba(14, 30, 37, 0.32) 0px 2px 16px 0px">
                            <h1 style="color: black;"><%=tsale%></h1>
                            
                            <h3 style="color: black;">Total Sales</h3>
                            
                          
                        </div>
                    </div>
                    
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4" style="margin-top: 20px;">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Recent Orders</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Phone no.</th>
                                            <th>Mode of Payment</th>
                                            <th>Status</th>
                                            <th>Products</th>
                                        </tr>
                                    </thead>
                                        
                                    <tbody>
                                        <% for(var i=0; i < parray1.length; i++){ %>
                                            <tr>
                                                <td><%=parray1[i].firstname%> <%=parray1[i].lastname%></td>
                                                <td><%=parray1[i].street%> <%=parray1[i].colony%> <%=parray1[i].city%></td>
                                                <td><%=parray1[i].mobile%></td>
                                                <td>Cash on delivery</td>
                                                <td>Delivered</td>
                                                <td><button id="myBtn" class="btn-primary" style="border-radius: 5px;">Show Products</button>

                                                    <!-- The Modal -->
                                                    <div id="myModal" class="modall">
                                                    
                                                      <!-- Modal content -->
                                                      <div class="modall-content">
                                                        <div class="modall-header">
                                                          <span class="closee">&times;</span>
                                                          <h2>Products</h2>
                                                        </div>
                                                        <div class="modall-body">
                                                            <% for(var j=0; j < parray1[i].products.length; j++){ %>
                                                            <div style="display: flex; ">
                                                               <p><%=parray1[i].products[j].name%></p>
                                                               <p>&nbspx <%=parray1[i].products[j].count%></p>
                                                            </div>
                                                            <% } %> 
                                                        </div>
                                                      </div>
                                                    
                                                    </div>
                                                </td>
                                            </tr> 
                                        <% } %> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("closee")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>

</body>

</html>